[submodule "1.Intro_to_Deep_Learning/1.How_to_Make_a_Prediction/linear_regression_demo"]
	path = 1.Intro_to_Deep_Learning/1.How_to_Make_a_Prediction/linear_regression_demo
	url = https://github.com/llSourcell/linear_regression_demo.git
[submodule "tensorFlowLearning"]
	path = tensorFlowLearning
	url = git@github.com:zhuanxuhit/deep-learning.git
[submodule "2.live_code/How_to_Generate_Music_with_Tensorflow/MusicGenerator"]
	path = 2.live_code/How_to_Generate_Music_with_Tensorflow/MusicGenerator
	url = https://github.com/Conchylicultor/MusicGenerator.git
[submodule "2.live_code/How_to_Generate_Music_with_Tensorflow/How_to_generate_music_in_tensorflow_LIVE"]
	path = 2.live_code/How_to_Generate_Music_with_Tensorflow/How_to_generate_music_in_tensorflow_LIVE
	url = https://github.com/llSourcell/How_to_generate_music_in_tensorflow_LIVE.git
